body {
  main {
    .Biographie {
      padding-top: 3em;
      padding-bottom: 3em;
      display: flex;
      gap: 3em;

      .left {
        max-width: 40ex;

        .quote {
          padding-top: 1.5em;
        }
      }

      @media screen and (max-width: 77.5em) {
        flex-direction: column-reverse;

        .right,
        .left {
          max-width: 68ex;
          margin: 0 auto;
        }
      }
    }
    .bibliographie {
      background-color: $black;
      color: $white;
      padding: 112px 0;

      .realisations {
        display: flex;
        gap: 3em;
        padding-bottom: 150px;

        .left {
          .book_img {
            display: block;
            border-radius: 179.348px 0px 173.5px;
          }
        }
        .right {
          .littletitle {
            padding-bottom: 45px;
          }
          .quote {
            display: flex;
            padding-top: 8ex;
            .portrait {
              border-radius: 50%;
              display: block;
              width: 90px;
              height: 90px;
            }
            .textquote {
              padding-left: 16px;
              max-width: 65ex;
              cite {
                display: block;
                padding-bottom: 2ex;
                line-height: 1.5;
              }
            }
          }
        }

        @media screen and (max-width: 77.5em) {
          flex-direction: column-reverse;

          .right {
            max-width: 68ex;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
