@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
body {
  .bigtitle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
  }
  .title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
  }
  .littletitle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
  }
  .text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
  .quotetext {
    font-family: Source Serif Pro;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
  }
  .quoteex {
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
  }
}
